*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'myfont'; LightNovelPOPv2
    /* フォーマットごとにパスを指定 */
    src: url('/Users/chiho/Desktop/harakiyo_headbombers.site/font/Corporate-Logo-Rounded-Bold-ver3') format('otf');
    src: url('/Users/chiho/Desktop/harakiyo_headbombers.site/font/LightNovelPOPv2') format('otf');
  }
  /* @font-faceのfont-familyでつけた名前を指定 */
  body {
    font-family: 'myfont', sans-serif;
  }

.firstview{
    background-image: url(img/bg_firstview.png);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 100vh;
    position: relative;

}

.container{
    position: relative;
    padding: 50px 0;
    height: 100vh;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    width: 100%;
    animation-name: bounce;
}

.hedobon{
    position: absolute; 
    top: 50%;
    left: 45%; 
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    z-index: 2;
}

.hedobon img{
    animation: bounce 2.5s .5s;
    width: 100%;
}

.sb-yellow{
    width: 100%;
    height: auto;
    z-index: 1;
    animation: bounce 1.5s 0.5s;
}


@keyframes bounce{
    0% {
      opacity:0;
      transform: scale(.2);
    }
    50% {
      opacity:1;
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

.award-sb{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 25%;
    margin: 0 auto;
    z-index: 3;
    animation: bounce 3.5s .2s;
    z-index: 1;

    animation-name: bound-anim;
    animation: 1s bound-anim ease-out infinite alternate; 
}

.hedobon-red {
    position: absolute;
    top: 50%;
    left: 65%;
    width: 30%;
    max-width: 360px;
    margin: 0 auto;
    z-index: 4;
    animation-name: bound-anim;
    animation: 1s bound-anim ease-out infinite alternate; 
}

@keyframes bound-anim {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(12px); /
    }
}


.pop{
    position: relative;
    animation-name: bounce;
    height: 100vh;
    quotes: 100%;
}

.pop-blue1{
    position: absolute;
    top: 8%;
    left: 70%;
    width: 15%;
    animation: bounce 2.5s .2s;
}

.pop-white1{
    position: absolute;
    top: 20%;
    left: 63%;
    width: 10%;
    animation: bounce 2.0s .6s;
}

.pop-white2{
    position: absolute;
    top: 30%;
    left: 70%;
    width: 5%;
    animation: bounce 2.3s .4s;
}

.star1{
    position: absolute;
    top: 19%;
    left: 75%;
    width: 6%;
    animation: bounce 2.3s .1s;
}

.star2{
    position: absolute;
    top: 27%;
    left: 80%;
    width: 5%;
    animation: bounce 1.3s .1s;
}

.award-star1{
    position: absolute;
    top: 5%;
    left: 27%;
    width: 5%;
    animation: bounce 1.3s .1s;
    z-index: 2;
}

.award-star2{
    position: absolute;
    top: 0%;
    left: 24%;
    width: 3%;
    animation: bounce 1.3s .7s;
    z-index: 2;
}

.award-trophy{
    position: absolute;
    top: 15%;
    left: 4%;
    width: 10%;
    animation: bounce 2.3s .2s;
    z-index: 2;
}

.pop-blue2{
    position: absolute;
    top: 65%;
    left: 25%;
    width: 5%;
    animation: bounce 2.3s .2s;
    z-index: 2;
}

.pop-white3{
    position: absolute;
    top: 58%;
    left: 10%;
    width: 15%;
    animation: bounce 2.3s .2s;
    z-index: 2;
}

.star3{
    position: absolute;
    top: 53%;
    left: 22%;
    width: 5%;
    animation: bounce 2.3s .2s;
    z-index: 2;
}
.star4{
    position: absolute;
    top: 47%;
    left: 18%;
    width: 4%;
    animation: bounce 2.3s .2s;
    z-index: 2;
}















/* へどぼんってどんなアプリ？？ */

.introduction{
    /* position: relative; */
    background-color: rgba(255, 210, 55, 90);
    width: auto;
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.intro{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.introduction p{
    padding: 10px;
    font-size: 3vw;
    font-family: Corporate-Logo-Rounded-Bold-ver3;
    color: #333333;
}

.intro-title {
    display: block;
    width: 80%; 
    max-width: 768px;
    margin: 0 auto; 
}

.name p span:nth-child(even) {
    font-size: 40px; /* 偶数番目の<span>要素は大きなフォントサイズ */
}

.name p span:nth-child(odd) {
    font-size: 32px; /* 奇数番目の<span>要素は小さなフォントサイズ */
}

.intro-detail-1{
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hedobon-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/sb_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 8%;
}


.horizontal-line {
    width: 80%; 
    height: 4px; 
    background-color: #333;
    margin: 0 auto; 
    margin-bottom: 20px; 
    border-radius: 3px;
}

.intro-concept p{
    text-shadow: #333333;
    background-color: #00B4D8;
    border: 3px solid #333333;
    width: 100%;    
    margin: 0 auto; 
    text-align: center;
    padding: 10px; 
    font-size: 34px; 
}

.intro-detail-1{
    margin-bottom: 125px;
}

.intro-detail-2,
.intro-detail-3{
    position: relative;
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
}


.intro-detail-2 h2,
.intro-detail-3 h2{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    color: #333333;
    font-size: 3vw;
    font-family: LightNovelPOPv2;
    width: fit-content;
}



.big-text{
    font-size: 5vw;
    color: #FFD239;
}


.sb-blue-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: 50% 0;
    padding: 8%; 
    line-height: 1.2;  
    display: inline-block;
    position: absolute;
    width: 70%;
    z-index: 2; 
    /* max-width: 400px; */
}

.sb-blue-text.right{
    background-image: url(img/sb_blue_right.png);
    top: -15%;
    left: 60%;
}

.sb-blue-text.left{
    background-image: url(img/sb_blue_left.png);
    top: -20%;
    left: 20%;
}
.sb-white{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100%;
}

.sb-white.left{
    padding: 9%;
    background-image: url(img/sb_white_left.png);
}

.sb-white.right{
    background-image: url(img/sb_white_right.png);
    padding: 9%;
}

.sb-white-text.right{
    /* padding: 10vw 0; */
}

@media (max-width: 1024px) {
    .sb-blue-text.left{
        top: -25%;
        left: 14%;
    }
}

@media (max-width: 915px) {
    .hedobon-description{
        padding: 10% 15% 15% 15%;
    }

    .intro-detail-1 p{
        font-size: 24px;
    }

    .intro-detail-2,
    .intro-detail-3{
        width: 90%;
    }

    .sb-white.right{
        padding: 8% 9% 9% 9%;
    }
}

@media (max-width: 768px) {
    .hedobon-description{
        padding: 7% 11% 3% 12%;
    }

    .sb-blue-text.right{
        top: -30%; 
    }
    .intro-detail-3{
        margin-bottom: 0;
    }

    .sb-blue-text.left{
        top: -35%; 
    }

    .horizontal-line{
        width: 82%;
        height: 2px;
        margin-bottom: 15px;
    }

    .intro-concept p{
        padding: 5px;
    }
}

@media (max-width: 626px) {
    .intro-detail-1 p{
        font-size: 20px;
    }

    .sb-blue-text{
        padding: 8%;
    }

    .intro-detail-1{
        margin-bottom: 70px;
    }

    .intro-detail-2{
        margin-bottom: 50px;
    }

    .intro-detail-3{
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .hedobon-description{
        padding: 10% 6% 7% 8%;
    }
}
@media (max-width:450px) {
    .hedobon-description{
        padding: 10% 13% 7%;
    }

    .intro-concept p{
        border: 1px solid #333333;
    }

    .intro-detail-1{
        font-size: 3vw;
        padding: 0px;
        width: 100%;
    }
    .horizontal-line{
        height: 1.5px;
        margin-bottom: 5px;
        width: 90%;
    }

    .intro-detail-1 p{
        font-size: 3vw;
        padding: 2px;
    }
    
    .sb-white.right{
        padding: 6% 9% 9% 9%;
    }
}

/* 使い方（これで決めるぞ〜〜） */
.howtouse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 58, 62, 90);
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.howtouse p{
    font-family: Corporate-Logo-Rounded-Bold-ver3;
    font-size: 30px;
}

.detail.step1,
.detail.step2{
    position: relative;
    max-width: 1000px;
    width: 100%;
}

.detail.step1{
    margin-top: 5%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    margin-bottom: 10%;
}

.detail{
    position: relative;
}

.step1-text{
    position: absolute;
    top: -4%;
    right: 13%;
}

.step2-text{
    position: absolute;
    top: -4%;
    left: 13%;
}

.stroke.step {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    font-family: LightNovelPOPv2;
    -webkit-text-stroke: 12px #333;
    position: relative;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.stroke.number {
    color: #ffd74b;
    font-weight: bold;
    font-size: 120px;
    font-family: LightNovelPOPv2;
    -webkit-text-stroke: 15px #333;
    position: relative;
    margin: 0;
    line-height: 1;
    text-align: center;
}


.no-stroke {
-webkit-text-stroke: 0;
position: absolute;
}

.stroke.waytouse,
.stroke.easystep{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: LightNovelPOPv2;
    color: #fff;
    font-weight: bold;
    -webkit-text-stroke: 10px #333;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.stroke.waytouse{
    top: -13%;
    font-size: 60px;
    padding: 50px 110px 50px 55px;
    background-image: url(img/sb_yellow_howto.png);
}

.stroke.easystep{
    top: 65%;
    left: 70%;
    font-size: 40px;
    padding: 55px 46px 70px 50px;
    background-image: url(img/sb_2step.png);
}

.point.step1{
    position: absolute;
    top: 14%;
    left: 53%;
    line-height: 2;
    z-index: 2;
    color: #fff;
    /* text-shadow: 2px 2px 0 #333333,2px -2px 0 #333333,-2px 2px 0 #333333,-2px -2px 0 #333333; */
    -webkit-text-stroke: 2px #333;
}

.point.step1::after{
    content: '';
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFD239;
    z-index: -1;
    display: block;
    height: 15px;
    width: 100%;
    padding: 0 20px ;
}

.larger-text {
    font-size: 50px;
    padding: 0 10px;
    color: #FFD239;
    font-weight: bold;
}

.steps.step1{
    position: absolute;
    top: 40%;
    left: 60%;
    line-height: 2;
}

.stroke.advice.step2{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    font-weight: bold;
    -webkit-text-stroke: 7px #333;
    margin: 0;
    line-height: 1.3;
}

.stroke.point.step1,
.stroke.point.step2{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    font-weight: bold;
    -webkit-text-stroke: 7px #333;
    margin: 0;
    line-height: 1.3;
}


.stroke.steps{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bold;
    -webkit-text-stroke: 7px #333;
    margin: 0;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-size: contain;
}

.stroke.steps.step1{
    top: 32%;
    left: 50%;
    background-image: url(img/step1_sb_1.png);
    color: rgba(60, 225, 255, 90);
    padding: 55px 29px 125px 58px;
}

.stroke.steps.step2{
    top: 37%;
    left: 9%;
    background-image: url(img/step2_sb_2.png);
    color: rgba(255, 210, 55, 90);
    padding: 89px 20px 53px 20px;
}

.hedobon_purple{
    position: absolute;
    top: 55%;
    left: 71%;
    width: 200px;
}

.hedobon_yellow{
    position: absolute;
    top: 16.5%;
    left: 8%;
    width: 200px;
    transform: scale(-1, 1);
}

.advice.step2{
    position: absolute;
    top: 9%;
    left: 30%;
    background-image: url(img/step2_sb_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 48px 33px 110px 70px;
}

.steps.step2{
    position: absolute;
    top: 38%;
    left: 9%;
    background-image: url(img/step2_sb_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 84px 23px 38px 20px;
}

.point.step2{
    position: absolute;
    top: 72%;
    left: 20%;
    z-index: 2;
    text-align: center;
}

.point.step2::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00B4D8;
    z-index: -1;
    display: block;
    height: 15px;
    width: 100%;
    padding: 0 20px ;
}

@media (max-width: 1024px) {
    .detail.step1,
    .detail.step2{
        width: 90%;
    }
    .detail.step1 {
        margin-top: 7%;
    }
    .step1-text{
        top: -6%;
        right: 12%;
    }
}

/* 寝癖診断 */

.diagnosis{
    background-color: rgba(120, 53, 255, 80);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diagnosis-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2%;
    padding: 50px;
}

.neguse-stroke {
    width: 100%;
    padding: 10px;
    color: #ffd74b;
    font-weight: bold;
    font-size: 70px;
    font-family: LightNovelPOPv2;
    -webkit-text-stroke: 10px #333;
    position: relative;
    margin: 0;
    text-shadow: 4px 4px 0 #333333,4px -4px 0 #333333,-4px 4px 0 #333333,-4px -4px 0 #333333;
    text-align: center;
  }

.neguse-no-stroke {
    -webkit-text-stroke: 0;
    position: absolute;
}
  

.diagnosis-title img{
    width: 7%;
}

.card{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 80px;
}

.card img{
    width: 20%;
}

@media (max-width: 1200px){
    .bomber-red{
        display: none;
    }
}

@media (max-width: 1024px){
    .neguse-stroke{
        font-size: 56px;
    }
}

@media (max-width: 768px){
    .neguse-stroke{
        font-size: 46px;
    }
}

@media (max-width: 450px){
    .neguse-stroke{
        font-size: 36px;
    }
}


/* 使用技術 */


.skills{
    position: relative;
    background-color: rgba(60, 225, 255, 90);
    width: 100%;
}

.skill-heading{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 100%;
    max-width: 400px;
    height: auto;
    z-index: 10 ;
}


.skill-list {
    position: absolute;
    top: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.skills .hedobon-skill{
    width: 100%;
    height: 100%;
}

.hedobon-skill{
    vertical-align: bottom;
}

.skill-img{
    width: 12%;
    height: 12%;
    transition-duration: 0.3s;
}

.skill-img:hover{
    transform: scale(1.5);
    transition-duration: 0.3s;
    background-image: url(img/skill_bluetooth_hover.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.connection{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 10%;
}

.connection img{
    width: 100%;
}  

.connect-down{
    position: absolute;
    top: 80%;
}

.connect-up{
    position: absolute;
    top: -60%;
}

@media (max-width: 1024px){
    .skill-heading{
        width: 300px;
    }
}

@media (max-width: 768px){
    .skill-heading{
        width: 200px;
    }
}

@media (max-width: 450px){
    .skill-heading{
        width: 150px;
    }
}
















/* 開発者インタビュー */

.interview{
    position: relative;
    background-color: rgba(255, 210, 55, 90);
    padding: 100px 0;
}

.interview-heading{
    display: flex;
    background-color: #F73A3E;
    width: 90%;
    margin: 0px 0px 70px 0px;
}

.interview-stroke {
    width: 100%;
    color: #ffd74b;
    font-weight: bold;
    font-size: 70px;
    font-family: LightNovelPOPv2;
    -webkit-text-stroke: 10px #fff;
    position: relative;
    margin: 0;
    text-shadow: 1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff;
  }

.interview-no-stroke {
    -webkit-text-stroke: 0;
    position: absolute;
}

.interview-heading img{
    width: 15%;
    height: 15%;
}

.interview-text{
    padding: 3% 0px 0px 10%;
    text-align: center;
    
}

.interview-stroke{
    font-size: 60px;
    font-family: LightNovelPOPv2;
    color: #333333;
}

.interview-text .horizontal-line{
    width: 100%;
    height: 6px; 
    background-color: #fff;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
}

.person img {
    width: 35%;
}

.person .comment {
    font-size: 16px;
    max-width: 660px;
    height: 360px;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: Corporate-Logo-Rounded-Bold-ver3;
    color: #333333;
}

.person .comment.boys{
    padding: 40px 90px 0px 160px;
}

.person .comment.girls{
    padding: 70px 123px 0px 60px;
}


.comment{
    margin-top: 5%;
}

.person.kinomu- .comment {
    background-image: url(img/kinomu-sb.png); 
}

.person.ayapo .comment {
    background-image: url(img/ayapo-sb.png); 
}

.person.himura .comment {
    background-image: url(img/himura-sb.png); 
}

.person.harakiyo .comment {
    background-image: url(img/harakiyo-sb.png); 
}

.person.runmaru .comment {
    background-image: url(img/runmaru-sb.png); 
}


@media (max-width: 1024px) {
    .interview-stroke {
        font-size: 56px;
    }

    .person.kinomu-,
    .person.himura,
    .person.runmaru {
        flex-direction: column; 
        align-items: center; 
        position: relative;
    }

    .person.ayapo,
    .person.harakiyo{
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
    }

    .person img {
        width: 80%; 
    }

    .person .comment {
        max-width: 80%;
        padding: 20px 30px 20px 10px;
    }
    
    .kinomu- img {
        content: url('img/kinomu-_sp.png'); 
    }

    .ayapo img {
        content: url('img/ayapo_sp.png'); 
    }

    .himura img{
        content: url('img/himura_sp.png');
    }
    .harakiyo img {
        content: url('img/harakiyo_sp.png'); 
    }

    .runmaru img {
        content: url('img/runmaru_sp.png');
    }

    .person.kinomu- .comment,
    .person.himura .comment,
    .person.runmaru .comment {
        background-image: url(img/boys-sb-sp.png); 
    }
    
    .person.ayapo .comment,
    .person.harakiyo .comment {
        background-image: url(img/girls-sb-sp.png); 
    }

    .person .comment.boys,
    .person .comment.girls{
        padding:13% 30% 25% 10%;
    }

    .comment.boys,
    .comment.girls{
        position: absolute;
        top: 65%;
        z-index: 1;
    }

    .person img{
        z-index: 2;
    }

    .person.ayapo,
    .person.himura,
    .person.harakiyo,
    .person.runmaru{
        margin-top: 30%;
    }

    .person.runmaru{
        margin-bottom: 40%;
    }

    .interview-heading{
        max-height: 620px;
    }
    
    .stroke-title{
        padding: 3% 0px 0px 10%;
        text-align: center;
        width: 100%;
        font-size: 40px;
        font-family: LightNovelPOPv2;
        color: #333333;
    }
    
    .stroke-text .horizontal-line{
        width: 100%;
        height: 6px; 
        background-color: #fff;
    }
}

@media (max-width: 805px) {

    .interview-heading img{
        display: none;
    }

    .interview-stroke {
        font-size: 60px;
        -webkit-text-stroke: 10px #fff;
        text-shadow: 1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff;
      }

    .person .comment{
        max-width: 95%;
    }

    .comment.boys,
    .comment.girls{
        position: absolute;
        top: 70%;
        z-index: 1;
    }

    .person img{
        z-index: 2;
    }

    .person.ayapo,
    .person.himura,
    .person.harakiyo,
    .person.runmaru{
        margin-top: 50%;
    }

    .person.runmaru{
        margin-bottom: 40%;
    }

}

@media (max-width: 768px){
    .interview-stroke{
        font-size: 46px;
    }
    .interview-text .horizontal-line {
        height: 4px;
    }
}


@media (max-width: 732px) {
    .stroke-title{
        font-size: 30px;
    }
    
    .stroke-text .horizontal-line{
        width: 100%;
        height: 6px; 
        background-color: #fff;
    }
    
}










footer{
    background-color: rgba(120, 53, 255, 80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.links{
    display: flex;
    align-items: center;
    gap: 30px;
}

.product-link{
    display: flex;
    align-items: center;
}

.hacku-link{
    display: flex;
    align-items: center;
}

.links img{
    width: 45px;
    height: auto;
}

.links p{
    margin-right: 20px;
}

.line{
    border: 1px solid #ffffff;
    width: 70%;
    margin: 10px 0;
}

footer p{
    color: #ffffff;
    font-family: Corporate-Logo-Rounded-Bold-ver3;
    font-size: 15px;
}
